.step{
    padding-bottom: 550px;
    &__list-wrapper{
        position: absolute;
     margin-left: -40px;
    }
    &__list{
        display: inline-block;
       list-style: none;
    }
    &__item{
        display: flex;
    }
    &__item-pic{
        cursor: pointer;
        width: 96px;
        height: 96px;
        background-color: #FCB72B;
        border-radius: 50%;
    }
    &__item-img{
        margin: 28px 32px;
        text-align: center;
        vertical-align: middle;
    }
    &__item-heading{
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        max-width: 300px;        
    }
    &__item-desc{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        max-width: 300px;
    }
    &__line{
        position: relative;
        top: 80px;
        margin-left: -120px;
    }
    &__line-img{
        max-width: 850px;
    }
    &__mobile-line{
        display: none;
    }
}
@media only screen and (max-width:1010px){
    .step{
        &__item-heading{
           max-width: 260px;
        }
        &__item-desc{
            max-width: 260px;
        }
        &__line-img{
            max-width: 750px;
        }
    }
}
@media only screen and (max-width:890px){
    .step{
        &__item-heading{
            max-width: 240px;
        }
        &__item-desc{
            max-width: 240px;
        }
    }
}
@media only screen and (max-width:831px){
    .step{
        &__list-wrapper{
            margin-top: -400px;
            position: absolute;
        }
        &__line{
            display: none;
        }
        &__list{
            padding-bottom: 20px;
        }
        &__item-pic{
            display: inline-block;
        }

        &__item{
            display: block;
        }
        &__item-heading{
            max-width: 400px;
            margin-left: 180px;
            margin-top: -110px;
        }
        &__item-desc{
            margin-left: 180px;
            margin-top: 10px;
            max-width: 400px;
        }
        &__mobile-line{
            display: block;
            position: relative;
        }
        &__mobile-line-img{
            position: relative;
            margin-top: -100px;
            margin-left: 40px;
        }
    }
}
@media only screen and (max-width:570px){
    .step{
        padding-top: 40px;
        &__list-wrapper{
            text-align: center;
            vertical-align: middle;
            margin: 0 auto;
        }
        &__item-pic{
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            display: block;
        }
        &__item-heading{
            margin: 0 auto;
            display: block;
            vertical-align: middle;
            text-align: center;
            padding-top: 30px;
        }
        &__item-desc{
            margin: auto;
            vertical-align: middle;
            text-align: center;
            display: block;
            padding-top: 30px;
        }
        &__mobile-line{
            display: none;
        }
    }
}